.container
{
	text-align: center;
	font-size: 4em;
	width: 36em;
	height: 12em;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

		font-family: "Comic Sans MS", cursive, sans-serif;
}
